*.os
*.o
*.pyc
*~
*.old
*.orig
*.gcno
*.gcda
.#*
*#
*.pym
CMakeModules/
*/CMakeLists.txt
ModuleBuild.cmake
Files.cmake
npctransport.pb.cc
npctransport.pb.h
npctransport_pb2.py
pyext/#swig.i-in#
.DS_Store
